
.transbox {
  
  /* background-image:  linear-gradient(to right,  #12c2e9b8, #c471edaf, #f64f5a9b);  */
      box-shadow: 0 26px 42px rgba(71, 18, 157,60%);
      margin: auto;
      width: 30%;
      padding: 2%;
      border: 0px solid  #c471ed;
      border-radius: 20px;
      display: grid;
      align-self: center;
      place-content: center;
  }
  
.toDoHeading{
  color: rgb(119, 0, 230);
  text-decoration: underline;
  font-weight: bolder;
  font-size: x-large;
}

.input{
  display: flex;
  flex-direction: row;
}
